


<form method="post" action="/commonnews/getnews">

    <div class="form-group">
      <label for="">Enter Input : </label>
      <input type="text" class="form-control" name="newsinfo" placeholder="Enter your news keyword">
    </div><br>
  
  </form>


  <h4><%= body.results %></h4>


